<h2>Welcome to Sodin, <%= @user.username %></h2>

<p>You have successfully signed up on our social media platform, Sodin. <br/>
    
    We are happy to have you as a part of our not-so-wide community.</p>

<p>You can already start exploring by <%= link_to "clicking here", @url %></p>

<p>With regards,</p>
<small><em>Sodin team</em></small>