<div class="col">
    <div class="bg-white shadow-sm px-4 py-4 rounded ">
        <h3><%= render partial: 'display', locals: { user: user } %></h3>
        <p><%= pluralize(user.posts.size, "post") %></p>
    </div>
    
</div>